body {
  font-size: 16px;
  color: Black;
  background-color: #F0F6F7FF;
  font-family: sans-serif;
}
h2{
  color:#D9514EFF;
  }
/** HEADER **/
#header-nav {
  background-color: #669DB3FF;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top:25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family:  serif;
  color: #FFF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #F0F6F7FF ;
  text-align: center;
  background-color: #FF4F58FF;

}
#nav-list a:hover {
  background: #D9514EFF;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #F0F6F7FF;
  background-color: #A89C94FF;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

p{
  text-align: justify;
}

#chicken-text{
  background-color: #A89C94FF;
  height: 1000px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
    #header-nav {
      height: 80px;
    }
    .navbar-brand h1 { /* Restaurant name */
      font-size: 2em;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #header-nav {
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-size: 2em;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #header-nav {
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-size: 2em;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #collapsable-nav  { /* Collapsed nav menu text */
    padding:0px;
  /* End Header */

}
